<aet-page-layout>
  <div class="grid">
    <div class="grid grid-cols-4 grid-flow-row gap-y-10 gap-x-10 w-7/8 text-center place-self-center">
      <div class="bg-violet rounded-md p-3">
        <h2>Sky Lords</h2>
        <p>A legion that guards Perifúrio and whose goal is to gain more power and use it
          to right the wrongs of the Aethérean species. The members of the Sky Lords
          feel great pride for their beliefs. It is the second of the two strongest legions in
          Kalítheia.
          The Sky Lords recently took a hit to its reputation by attempting to make
          peace with some of Diáthro’s factions as such actions are illegal in Kalítheia.
          They would have been exiled were it not for Kirin excellent leadership
          skills and how valuable the legion’s strength is in pursuing the geoethéreal
          vents. The legion is expected to make up for their criminal behavior by
          seizing one of Diáthro’s fortresses.</p>
      </div>

      <div class="bg-violet rounded-md p-3">
        <h2>Warlords</h2>
        <p>
          A legion that defends Lástro and seeks absolute power over the other legions
          to gain militaristic power to take over Kalítheia. The Warlords of Azure is one
          of the two strongest legions in Kalítheia and is competing with the Sky Lords
          for this power.
          Although they are not aware of it, their lust for power extends beyond that:
          they will attempt to take control of Azuria, then Kalítheia, and then conquer
          Aethérea should they gain power or influence over the other legions.
          It is led by Velösek, who is favored by the government of Azuria.
        </p>
      </div>

      <div class="bg-gold text-black rounded-md p-3">
        <h2>Eternal Force</h2>
        <p>
          A legion of Diáthro’s elite soldiers who defend the seventh fortress. They seek
          retribution on the Kalítheians for splitting the Aethérean species and for their
          crimes against Aethérea.
        </p>
      </div>

      <div class="bg-gold text-black rounded-md p-3">
        <h2>Rhapsody</h2>
        <p>
          A legion whose strength lies in its raw power and ability to rush down
          opponents. They have an unspoken rivalry with Eternal Force as Eternal Force too
          possesses similar strengths.
        </p>
      </div>

      <div class="bg-violet rounded-md p-3">
        <h2>Chaos Project</h2>
        <p>
          A legion of soldiers who defend the fourth fortress and are known for their
          voraciousness.
          Chaos Project has been working with the Church of Gnóstis in secret to gather Aethér
          form the vents and store it in a crypt for future trafficking, which violates a
          number of Gnóstic laws.
        </p>
      </div>

      <div >
        <h2>Ilia</h2>
        <p>
          A legion whose goal is to spread peace. They avoid bloodshed whenever
          possible, going so far as to hold defensive formations to compel the enemy to
          accept a stalemate. This legion possesses some of the most resilient templars.
          Unlike the Sky Lords, they keep their attempts at keeping the peace or
          neutrality under wraps. When it comes to battle, they feign incompetence at
          killing to create stalemates
        </p>
      </div>

      <div>
        <h2>Progma</h2>
        <p>
          A legion that values advancement in all forms, especially technological. They
          arm their soldiers with the most advanced weapons and armor that they can
          afford to facilitate magic.
        </p>
      </div>

      <div>
        <h2>Seeker of Lux</h2>
        <p>
          A cultlike legion that secretly plans to defect to Gnóstis to pursue wealth by
          collaborating with Aegos and the Church of Gnóstis. They will do anything
          that will get them closer to becoming wealthy. They pursue wealth because
          they are tired of living lives as soldiers and wish to lead luxurious lives.
        </p>
      </div>

      <div>
        <h2>Aegos</h2>
        <p>
          A legion of soldiers who defend the fourth fortress and are known for their
          voraciousness.
          Aegos has been working with the Church of Gnóstis in secret to gather Aethér
          form the vents and store it in a crypt for future trafficking, which violates a
          number of Gnóstic laws.
        </p>
      </div>



      <div>
        <h2>Heolfor</h2>
        <p>
          A legion of honest but lazy soldiers who are deceptively skilled in combat and
          are supposed to watch over the fifth fortress. They tend to spend their time
          having a few drinks and getting into friendly fistfights.
        </p>
      </div>

      <div>
        <h2>Godheads</h2>
        <p>
          A legion of soldiers who defend the third fortress. They are renowned for
          their good deeds, such as funding research on how to conserve Aether and
          facilitate the planet’s production of it. They also led a movement to aid Mag
          Sávres by allowing them access to Diáthro’s geoethéreal vents as a form of
          reparation.
          The fame that the Godheads amassed has corrupted their moral compass.
          Their actions have grown empty or detrimental and are undoubtedly
          motivated by their greed for fame. Furthermore, they have come to care not
          whether they become famous or infamous.
          They have since been stripped of their social status; their movement has been
          taken over by the Demiurge’s Warriors and is co-led by Signóma.
        </p>
      </div>

      <div>
        <h2>Ladies of Delea</h2>
        <p>
          A legion of female soldiers who excel at deception. They despise Aegos, for
          Aegos has taken a few of their women for trafficking purposes. They fear what
          Aegos might to do their captured members, so they keep Aegos’ crimes a
          secret.
        </p>
      </div>

      <div>
        <h2>Signoma</h2>
        <p>
          A legion of empathetic soldiers who, despite their formidability, feel an
          inferiority complex toward Progma. They guard the sixth
          fortress and are run by the Church of Gnóstis but are unaware of this.
        </p>
      </div>

      <div>
        <h2>Stalbrand</h2>
        <p>
          A legion of steadfast soldiers who excel at seizures. They have an unspoken
          rivalry with Exónas as they want to prove that they are the legion that is
          superior at seizing
        </p>
      </div>

      <div>
        <h2>Exonas</h2>
        <p>

        </p>
      </div>

      <div>
        <h2>Black Pearl</h2>
        <p>

        </p>
      </div>

    </div>

  </div>
</aet-page-layout>
